.container{
    width: 100%;
    margin: 30px 0;
    display: flex;
    gap: 5px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid #f3f3f3;
}

.container:hover{
    border: 2px solid #daa520;
}

.lupa{
    height: auto;
    width: 30px;
}

.container input{
    width: 100%;
    border: none;
    padding: 0 5px;
    outline-style: none;
    font-size: 14px;
    font-weight: 600;
    color: #daa520;
}